
/* Modal backdrop */
.modal-backdrop.show {
    opacity: 0.5;
  }
  
  /* Modal content */
  .modal-content {
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border: none;
    width: 100%;
  }
  
  /* Modal title */
  .modal-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  /* Modal body text */
  .modal-body p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    font-weight: 500;
  }
  
  
  /* Button container to align buttons vertically */
  .modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adds space between buttons */
  }
  
  /* Make buttons equal width */
  .modal-button {
    width: 100%; /* Ensures both buttons have the same width */
    padding: 12px 15px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    border: none;
    text-align: center;
  }
  
  /* Primary button */
  .modal-button.primary {
    background-color: #ff7f50;
    color: white;
  }
  
  .modal-button.primary:hover {
    background-color: #ff6347;
  }
  
  /* Secondary button */
  .modal-button.secondary {
    background-color: #ddd;
    color: #333;
  }
  
  .modal-button.secondary:hover {
    background-color: #ccc;
  }
  

  .register-modal .modal-header {
    border-bottom: none !important;
  }

  .register-modal .modal-footer {
    border-top: none !important;
  }

  .register-modal .modal-content {
    padding: 0 !important;
  }

.btn-orange-outline {
    color: var(--gimmel-orange) !important;
    border: 1px solid var(--gimmel-orange) !important;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    background-color: #FBDFCE !important;
    width: 100%;
}

.btn-orange-header {
    color: #ffffff !important;
    border: 1px solid var(--gimmel-orange) !important;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--gimmel-orange) !important;
    width: 100%;
}

.btn-orange-header a {
  color: #ffffff !important;
}
